.ft-bar {
  color: var(--color-fixed-gray-100);
  transition: color 0.2s linear;

  > .bg-layers {
    > .bg-layer-2 {
      background-color: var(--color-fixed-gray-900);
      transition: background-color 0.2s linear;
      will-change: background-color;
    }
  }
}