.taskbar {
  > .bg-layers {
    > .bg-layer-2 {
      opacity: 0.8;
      background-color: var(--color-gray-100);
      border-radius: 15px;
    }
  }

  > .weg-items-container {
    border-radius: 15px;
  }

  &.horizontal {
    > .weg-items-container {
      animation: shadow-on-horizontal-scroll linear;
      animation-timeline: scroll(x self);
    }
  }

  &.vertical {
    > .weg-items-container {
      animation: shadow-on-vertical-scroll linear;
      animation-timeline: scroll(y self);
    }
  }
}